fastapi==0.104.1
uvicorn[standard]==0.24.0
sqlalchemy==2.0.51
pymysql==1.1.0
alembic==1.13.0
pydantic-settings==2.1.0
redis==5.0.1
python-multipart==0.0.6

# Auth (Week 2)
passlib[bcrypt]==1.7.4
python-jose[cryptography]==3.3.0

# Async tasks (Week 5)
celery==5.3.6

# Data analysis (Week 4)
pandas==2.1.4
numpy==1.26.2

# Testing
pytest==7.4.3
httpx==0.25.2
